html {
  scroll-behavior: smooth;
}

body {
	height: 100%;
}

body {
	margin: 0;
	background: linear-gradient(45deg, #49a09d, #5f2c82);
	font-family: sans-serif;
	font-weight: 100;
}
.footer {
  background-color: #252525;
  padding-top: 90px;
  text-align: center;
}
.logo2 {
  float: left;
}

.footer h3 {
  color: #fff;
  font-size: 25px;
  line-height: 25px;
  text-align: left;
  padding-bottom: 20px;
  font-weight: 600;
}

.neslatter {
  padding-bottom: 0px !important;
  margin-bottom: -56px;
}

.margin_topv {
  margin-top: 60px;
}

.footer p {
  color: #fff;
  font-size: 17px;
  line-height: 28px;
  text-align: left;
  padding-right: 60px;
  display: inline-block;
}
ul.use_link li {
  text-align: left;
}

ul.use_link li a {
  color: #fff;
  font-size: 17px;
  padding-bottom: 9px;
}

ul.use_link li.active a {
  color: #fceab4;
}

ul.use_link li a:hover {
  color: #fceab4;
}

ul.location_icon {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

ul.location_icon li {
  font-size: 17px;
  color: #fff;
  text-align: left;
  padding: 0px 0px 18px 0px;
  display: flex;
  align-items: center;
  line-height: 26px;
}

ul.location_icon li a {
  font-size: 30px;
  color: #fff;
  line-height: 30px;
  padding-right: 20px;
}

.news_form {
  text-align: right;
  margin-top: 15px;
}

.news_form .letter_form {
  height: 56px;
  width: 40%;
  padding: 0 15px;
  font-size: 17px;
  border: inherit;
  border-radius: 32px;
}

.news_form .sumbit {
  padding: 8px 36px;
  margin-left: -51px;
  font-size: 18px;
  background: #f9bf16;
  color: #fff;
  border: #fff solid 4px;
  border-radius: 30px;
}

.news_form .sumbit:hover {
  background-color: #0000ff;
}

.copyright {
  margin-top: 80px;
  padding-bottom: 20px;
  background: #fbfdfd;
}

.copyright p {
  color: #292929;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding-top: 25px;
  font-weight: normal;
  padding-right: 0 !important;
}

.copyright a {
  color: #292929;
}

.copyright a:hover {
  color: #f9bf16;
}